{% extends 'base.html' %}

{% block title %} Nice {% endblock title %}

{% block content %}
<p style="margin-bottom: 450px;">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur totam, quo excepturi animi nihil dolorum obcaecati perferendis quibusdam omnis ab minima numquam eius optio, libero inventore, necessitatibus culpa sed. Nam laboriosam obcaecati quidem sapiente distinctio, molestias ex. Quaerat nulla laborum aliquid, ratione facilis commodi doloremque rerum veniam, laboriosam eum consectetur!
</p>
{% endblock %}